/* @import './variables.scss'; */
.background1 {
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 1fr auto;
}
