@import '../../app/variables.scss';
.wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px 0 20px 0;
    background: #252525;
    text-align: center;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    @include font(#fff, Inter, 20px, normal, 400, 25px, 0);
    font-size: clamp(15px, 2vw, 20px);
    margin-bottom: 30px;
    p{
        margin-bottom: 15px;
    }
}
.text{
    background-color: #E47611;
    a{
        margin-left: 40px;
    }
}
.textH3{
    @include font(#000, Inter, 20px, normal, 550, 25px, -.025em);
    font-size: clamp(15px, 3vw, 20px);
    align-content: center;
}
.icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    svg{
        width: 30px;
        height: 30px;
    }
}
  .tooltip {
    position: absolute;
    bottom: -20px;
    font-size: 14px;
    padding: 5px 3px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s;
  }
.telegram,
.linkedin,
.github{
    position: relative;
}
 .telegram:hover{
     span{
        background: #1877F2;
        color: #ffffff;
        opacity: 1;
        bottom: 60px;
        transform: translate(-30%, -50%);
        transition: all 0.7s ;
    }
}
.linkedin:hover{
    span{
       background: #E4405F;
       color: #ffffff;
       opacity: 1;
       bottom: 60px;
        transform: translate(-30%, -50%);
       transition: all 0.7s ;
   }
}
.github:hover{
    span{
       background: #CD201F;
       color: #ffffff;
       opacity: 1;
       bottom: 60px;
        transform: translate(-30%, -50%);
       transition: all 0.7s ;
   }
}

@media screen and (max-width: 550px){
    .navigation{
        display: none;
    }
}
@media screen and (max-width: 450px){
    .icon{
        display: block;
        margin: 0;
    }
}