/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/BuyForDay/styles.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__nrnA9 {
  display: flex;
  margin: 0 10px;
  color: #E47611;
}
.styles_container__nrnA9 h3 {
  max-width: 250px;
  width: 100%;
}

.styles_buyForDay__htWIS {
  color: #E47611;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_handleIngredients__W2Wsw {
  margin: 0 10px;
  color: #E47611;
}

.styles_handleCopy__4aG_E {
  color: #E47611;
}

.styles_tooltip__JH_Xb {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #E47611;
  padding: 4px 8px;
  border-radius: 4px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Soup/styles.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__7OFyz {
  margin-top: 5px;
  display: flex;
  flex-flow: row;
}

.styles_container__gBl_n {
  display: flex;
}
.styles_container__gBl_n select {
  width: 200px;
}

.styles_container_select__4tZjM {
  background-color: transparent;
  color: #212121;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_button__9Jkqm {
  display: flex;
}

.styles_button__IMy0I {
  color: #212121;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_button__IMy0I:hover {
  cursor: pointer;
}

.styles_button2__ax9mk {
  color: #212121;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_container_text__UCMOZ {
  margin-right: 10px;
  max-width: 80px;
  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.styles_container_ingredients__JxrpR {
  color: #FFFDD0;
  font-family: Inter;
  font-size: 20px;
  font-style: oblique;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_popup__woY6G {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 2px solid #1805a4;
  border-radius: 10px;
  background: #99b5bf;
  left: 20px;
}

.styles_container_Summarized__nNm3V {
  max-width: 700px;
  width: 100%;
  color: #212121;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 25px);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Salad/styles.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top____arV {
  margin-top: 5px;
  display: flex;
  flex-flow: row;
}

.styles_container__ASVGI {
  display: flex;
}
.styles_container__ASVGI select {
  width: 200px;
}

.styles_container_select__RD8DG {
  background-color: transparent;
  color: #212121;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_button__nbL5h {
  display: flex;
}

.styles_button__8mbzK {
  color: #212121;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_button__8mbzK:hover {
  cursor: pointer;
}

.styles_button2__XHv4s {
  color: #212121;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_container_text__wnJx0 {
  margin-right: 10px;
  max-width: 80px;
  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.styles_container_ingredients__gHke_ {
  color: #FFFDD0;
  font-family: Inter;
  font-size: 20px;
  font-style: oblique;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_popup__EN_l2 {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 2px solid #1805a4;
  border-radius: 10px;
  background: #99b5bf;
  left: 20px;
}

.styles_container_Summarized__ZKSpM {
  max-width: 700px;
  width: 100%;
  color: #212121;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 25px);
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Desserts/styles.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__Fupg_ {
  margin-top: 5px;
  display: flex;
  flex-flow: row;
}

.styles_container__qXbul {
  display: flex;
}
.styles_container__qXbul select {
  width: 200px;
}

.styles_container_select__jqwuE {
  background-color: transparent;
  color: #212121;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_button__Y2M_s {
  display: flex;
}

.styles_button__08hd5 {
  color: #212121;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_button__08hd5:hover {
  cursor: pointer;
}

.styles_button2__9UvyH {
  color: #212121;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_container_text__AUfA_ {
  margin-right: 10px;
  max-width: 80px;
  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.styles_container_ingredients__RstTp {
  color: #FFFDD0;
  font-family: Inter;
  font-size: 20px;
  font-style: oblique;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_popup__hX5bV {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 2px solid #1805a4;
  border-radius: 10px;
  background: #99b5bf;
  left: 20px;
}

.styles_container_Summarized__7JT5I {
  max-width: 700px;
  width: 100%;
  color: #212121;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 25px);
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Starters/styles.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__9VNu_ {
  margin-top: 5px;
  display: flex;
  flex-flow: row;
}

.styles_container__fosxZ {
  display: flex;
}
.styles_container__fosxZ select {
  width: 200px;
}

.styles_container_select__RMtbO {
  background-color: transparent;
  color: #212121;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_button__UqaQK {
  display: flex;
}

.styles_button__nZrRs {
  color: #212121;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_button__nZrRs:hover {
  cursor: pointer;
}

.styles_button2__zV16J {
  color: #212121;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_container_text__6gZ9R {
  margin-right: 10px;
  max-width: 80px;
  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.styles_container_ingredients__2hsWU {
  color: #FFFDD0;
  font-family: Inter;
  font-size: 20px;
  font-style: oblique;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_popup__Wgthz {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 2px solid #1805a4;
  border-radius: 10px;
  background: #99b5bf;
  left: 20px;
}

.styles_container_Summarized__1c4xw {
  max-width: 700px;
  width: 100%;
  color: #212121;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 25px);
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/SideDish/styles.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__9rQpk {
  margin-top: 5px;
  display: flex;
  flex-flow: row;
}

.styles_container__VJOdl {
  display: flex;
}
.styles_container__VJOdl select {
  width: 200px;
}

.styles_container_select__Nzyrb {
  background-color: transparent;
  color: #212121;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_button__dITGn {
  display: flex;
}

.styles_button__eFyiv {
  color: #212121;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_button__eFyiv:hover {
  cursor: pointer;
}

.styles_button2__qhhM4 {
  color: #212121;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_container_text__3ebQc {
  margin-right: 10px;
  max-width: 80px;
  color: #212121;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.styles_container_ingredients__z1Rv5 {
  color: #FFFDD0;
  font-family: Inter;
  font-size: 20px;
  font-style: oblique;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_popup__KtLYA {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 2px solid #1805a4;
  border-radius: 10px;
  background: #99b5bf;
  left: 20px;
}

.styles_container_Summarized__xysh8 {
  max-width: 700px;
  width: 100%;
  color: #212121;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 25px);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/ShowMenuDay/styles.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__1d0lp {
  display: flex;
}

.styles_image__bZbdI {
  height: 60px;
  max-width: 100px;
  width: 100%;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
}

.styles_label__8NWoG {
  max-width: 200px;
  color: #E47611;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  font-size: clamp(18px, 3vw, 20px);
}

.styles_numberServings___XMUg {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}

.styles_container_button__iUElW {
  display: flex;
}

.styles_button__SRv5P {
  color: #E47611;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  font-size: clamp(16px, 3vw, 19px);
}

.styles_dropdownIcon__VUEcF {
  margin-left: 15px;
  color: #fff;
  font-size: 18px;
}

.styles_dropdownIcon__VUEcF:hover {
  cursor: pointer;
}

.styles_ingredientCourse__zIXMi {
  color: #E47611;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_container_text__W6BY3 {
  color: #E47611;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 25px);
}

.styles_container_popup__ITUKG {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 2px solid #1805a4;
  border-radius: 10px;
  background: #99b5bf;
  left: 20px;
}

.styles_container_Summarized__ZoZ2v {
  max-width: 700px;
  width: 100%;
  color: #E47611;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 25px);
}

.styles_handleIngredients__zE_dE {
  margin: 0 10px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/PartMenuName/styles.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__g3hgh input:focus {
  outline: 3px solid #E47611;
  border-radius: 10px;
}

.styles_container_input__YYa9e {
  position: relative;
  max-width: 230px;
  height: 30px;
  left: 140px;
  top: 30px;
  background-color: transparent;
  color: #008000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/PartMenuComments/styles.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__mHrQH textarea {
  width: 250px;
  height: 20px;
  margin-left: 10px;
  font-size: clamp(18px, 3vw, 20px);
  background-color: transparent;
  color: #008000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0;
}
.styles_container_top__mHrQH textarea:focus {
  outline: 3px solid #E47611;
  border-radius: 5px;
  white-space: pre-wrap;
  height: 100px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/MenuGroupsOpen/styles.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__obLDS {
  display: flex;
  flex-flow: column;
}

.styles_container_popup__yS0Da {
  position: relative;
  width: 270px;
  min-height: 300px;
  border: 2px solid #E47611;
  border-radius: 10px;
  background-color: rgba(153, 181, 191, 0.5);
  padding: 5px;
  left: 20px;
  top: 15px;
  margin-bottom: 15px;
}

.styles_container_popup2__HdBzi {
  top: 170px;
}

.styles_buyForDay__ZfzTB {
  color: #E47611;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_handleIngredients__VXhXi {
  margin: 0 10px;
  color: #E47611;
}

.styles_handleCopy__E4QiS {
  color: #E47611;
}

.styles_tooltip__z2IP3 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #E47611;
  padding: 4px 8px;
  border-radius: 4px;
}

.styles_menuGroup__LJkb9 {
  width: 130px;
  height: 30px;
  border: 2px solid #E47611;
  border-radius: 10px;
  color: #E47611;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

@media (hover: hover) {
  .styles_menuGroup__LJkb9:hover {
    background-color: rgba(153, 181, 191, 0.5);
  }
}
@media (hover: none) {
  .styles_menuGroup__LJkb9:active {
    background-color: rgba(153, 181, 191, 0.5);
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/MenuGroups/styles.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container_top__NYIZS {
  display: flex;
  flex-flow: column;
  color: #E47611;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.styles_container_popup__jLfpf {
  position: relative;
  width: 270px;
  min-height: 300px;
  border: 2px solid #E47611;
  border-radius: 10px;
  background-color: rgba(153, 181, 191, 0.5);
  padding: 5px;
  left: 20px;
  top: 15px;
  margin-bottom: 15px;
}

.styles_container_popup2__StMe3 {
  top: 170px;
}

.styles_buyForDay__utxQx {
  color: #E47611;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_handleIngredients__8kZ4n {
  margin: 0 10px;
  color: #E47611;
}

.styles_handleCopy__Qio6C {
  color: #E47611;
}

.styles_tooltip__QA83h {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #E47611;
  padding: 4px 8px;
  border-radius: 4px;
}

.styles_buttonGroup__wbxeH {
  width: 130px;
  height: 30px;
  border: 2px solid #E47611;
  border-radius: 10px;
  color: #E47611;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

@media (hover: hover) {
  .styles_buttonGroup__wbxeH:hover {
    background-color: rgba(153, 181, 191, 0.5);
  }
}
@media (hover: none) {
  .styles_buttonGroup__wbxeH:active {
    background-color: rgba(153, 181, 191, 0.5);
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/BuyForWeek/styles.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__EoMZo {
  display: flex;
  margin: 0 10px;
  color: #E47611;
}

.styles_buyForDay__UyjW8 {
  color: rgba(173, 181, 189, 0.8078431373);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.styles_handleIngredients__a1jCx {
  margin: 0 10px;
  color: #E47611;
}

.styles_handleCopy__tyudG {
  color: #E47611;
}

.styles_tooltip__Ji8II {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #E47611;
  padding: 4px 8px;
  border-radius: 4px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/TimeEndBackground/styles.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__9CYIR {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  color: #E47611;
}

.styles_button__OV10l {
  display: flex;
}

@media (max-width: 500px) {
  .styles_container__9CYIR {
    flex-flow: column;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/ShowSevenAndStorage/styles.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__2CT7I {
  display: flex;
  flex-flow: column;
}

.styles_background1__HX5ZP {
  background-image: url(/_next/static/media/background.21449a94.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.styles_background2__7RCAh {
  background: radial-gradient(100% 300% at 0% 0%, #262425 50%, #5B483A 100%), #211F20;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.styles_background3__I5jC_ {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.styles_container_button__oOeIj {
  max-width: 280px;
  width: 100%;
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  color: #E47611;
}

.styles_goToTop__gLhYj {
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  color: #E47611;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
}

.styles_button__vh3cO {
  color: #E47611;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_button__vh3cO:hover {
  cursor: pointer;
}

.styles_button2__6hPYA {
  color: #E47611;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0 5px 0 5px;
}

.styles_container_text__C30S1 {
  margin-right: 10px;
  max-width: 80px;
  color: #E47611;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.styles_column2__Rg7EV {
  border: 3px solid #E47611;
  border-radius: 10px;
}

@media (min-width: 500px) {
  .styles_container__2CT7I {
    flex-flow: wrap;
  }
  .styles_column1__kjk3k {
    display: flex;
    flex-flow: wrap;
    flex: 1;
    overflow-y: auto;
    height: 100vh;
  }
  .styles_column2__Rg7EV {
    max-width: 200px;
    width: 100%;
    overflow-y: auto;
    height: 100vh;
  }
  .styles_column3__GOo7d {
    max-width: 200px;
    width: 100%;
  }
  .styles_column1__kjk3k::-webkit-scrollbar {
    width: 0;
  }
  .styles_column2__Rg7EV::-webkit-scrollbar {
    width: 0;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/LoginForm/styles.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__T8DWD {
  height: 39em;
}

@keyframes styles_slideIn__8_QdL {
  from {
    transform: translateX(-40vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.styles_animate-slide__4XcFj {
  animation: styles_slideIn__8_QdL 1s ease-in-out; /* Apply the animation when the class is added */
  animation-fill-mode: forwards; /* Ensure the animation ends at the final keyframe */
}

.styles_containerForm__3HubK {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  animation: styles_slideIn__8_QdL 1s ease-in-out; /* Apply the animation */
  animation-fill-mode: forwards; /* Ensure the animation ends at the final keyframe */
  top: 10%; /* Position the top edge at 50% of the viewport height */
  left: 50%; /* Position the left edge at 50% of the viewport width */
  transform: translate(-50%, 50%);
  width: 270px;
  min-height: 300px;
  border: 2px solid #E47611;
  border-radius: 10px;
  background-color: rgba(153, 181, 191, 0.5);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.styles_imageTest__Ae7cL {
  width: 60px;
}

.styles_button__ox83s {
  margin-top: 5px;
  border: 3px solid #E47611;
  border-radius: 10px;
}

.styles_button__ox83s:hover {
  background-color: rgba(153, 181, 191, 0.9);
}
