@import '@/app/variables.scss';
.container{
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    color: #E47611;
}
.button{
    display: flex;
}
@media (max-width: 500px) {
    .container{
        flex-flow: column;
    }

}