@import '@/app/variables.scss';

.found{
    display: flex;
    flex-flow: column;
}
.form{
    background-color: transparent;
    max-width: 270px;
    @include font(#E47611, Inter, 20px, normal, 700, 25px, 2px);
}
.image{
    height: 60px;
    max-width: 100px;
    width: 100%;
    padding-right: 5px;
    display: flex;
}
.container_scroll{
    overflow-y: auto;
    height: 70vh;
    position: absolute;
    top: 85px;
    /* right: -11px; */
    // left: -30px;
    width: 370px;
    z-index: 30;
}
.menuItem{
    background-color: rgba(153, 181, 191, 0.9);
}
.label{
    width: 200px;
    margin-bottom: 10px;
    text-align: start
    // @include font(#E47611, Inter, 20px, normal, 400, 17px, 0);
    // font-size: clamp(18px, 3vw, 20px);
}
.ingredientCourse{
    @include font(#E47611, Inter, 20px, normal, 400, 20px, 0);
    font-size: clamp(15px, 3vw, 20px);
}
@media (max-width: 600px){
    .wrapper{
        max-width: 300px;
        width: 100%;

    }
    .container_background{
        left: 35px;
    }
    .container_scroll{
        width: 298px;
        h2{
            width: 22.5ch;
        }
    }
    .container{
        flex-flow: column;
    }
    .labelImage{
        display: flex;
        flex-flow: row-reverse;
    }
}